.advertisement{
    width: 805px;
    margin: 52px auto;
}
.advertisement h6{
    font-size: 28px;
    color: #202020;
    margin-bottom: 18px;
}
.advertisement p{
    font-size: 20px;
    color: #4F4F4F;
    margin-bottom: 14px;
}
.bottun{
    width: 100%;
    height: 51px;
    border-radius: 18px;
    border: 1px solid #4F4F4F;
    background-color: #FCFCFC;
    font-size: 14px;
    color: #4F4F4F;
    padding: 16px 13px 13px 13px;
    margin-bottom: 62px;
    margin-top: 32px;
}
.br2{
    width:100% ;
    height: 4px;
    border-radius: 12px;
    opacity: 30%;
    background-color: #4F4F4F;
    margin-bottom: 32px;
}