footer {
  background-color: #78c9e4;
  height: 624px;
  
}
.footer-container {
  display: flex;
}
.footer-logo {
  margin: 110px 75px 0 0;
}
.section1 {
  width: 327px;
}
.footer-container {
  margin: auto;

  width: 1199px;
  padding: 21px 0;
}
.section1 {
  text-align: justify;
}
.footer-text {
  display: inline;
  font-size: 20px;
  color: #202020;
}
.footer-text + span {
  color: #fff;
  font-size: 16px;
  text-align: justify;
  margin-right: 7px;
}
.adress {
  margin-top: 50px;
  text-align: justify;
}
.adress p {
  display: inline;
  font-size: 16px;
  color: #202020;
  font-family: kalameh-en-num;
}
.adress img {
  margin-left: 15px;
}
.section2,
.section3,
.section4 {
  margin-right: 157px;
}
.section2 h6,
.section3 h6,
.section4 h6 {
  font-size: 20px;
  color: #202020;
  margin-bottom: 30px;
}
.section2 p,
.section3 p,
.section4 p {
  font-size: 16px;
  color: #202020;
  margin-bottom: 15px;
}
.footer-icons {
  direction: ltr;
  margin-left: 301px;
}
.footer-icons img {
  direction: ltr;
  margin-right: 10px;
}
.br{
  opacity: 0.3;
  background-color: #fff;
  height: 4px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}
.end-text{
  color: #202020;
  text-align: center;
  font-size: 14px;
  margin: 20px 0 80px 0;
}