.details-profile {
  width: 1200px;
  margin: 25px auto 40px;
  display: flex;
}
.right-card1 {
  width: 858px;
  height: 332px;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 8px 18px 18px 8px #00000014;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.title-right-side {
  font-size: 18px;
  color: #202020;
  margin-top: 4px;
  display: inline-block;
  height: 24px;
  margin-bottom: 10px;
}
.img-title {
  height: 40px;
  float: left;
}
.checks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}
.title-body {
  font-size: 16px;
  color: #4f4f4f;
}
.checks p {
  font-size: 14px;
  color: #4f4f4f;
  margin-right: 14px;
  margin-left: 90px;
  display: inline-block;
  margin-bottom: 22px;
}
.checks img {
  vertical-align: -7px;
}
.checked2 {
  margin-right: 37px;
}
.left {
  text-align: center;
  font-size: 16px;
  color: #4f4f4f;
  margin-left: 33px;
}
.left img {
  vertical-align: -12px;
}
.right-card2 {
  width: 858px;
  height: 303px;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 8px 18px 18px 8px #00000014;
  padding: 25px;
  margin-bottom: 25px;
}
.right-card2 div{
  width: 810px;
  height: 166px;
  border-radius: 18px;
  border: 1px solid #CCCCCC;
  padding: 16px 13px 13px 13px;
  margin-top: 32px;
}
.right-card3 {
  width: 858px;
  height: 124px;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 8px 18px 18px 8px #00000014;
  padding: 25px;
  margin-bottom: 25px;
}
.right-card3 p{
  font-size: 14px;
  color: #202020;
  margin-top: 18px;
}
.pg-test {
  float: left;
}
.left-side {
  width: 326px;
  height: 644px;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 8px 18px 18px 8px #00000014;
  margin-right: 15px;
  padding: 40px 23px;
}
.box {
  width: 280px;
  height: 58px;
  border-radius: 8px;
  background-color: #f5f5f5;
  display: flex;
}
.box div {
  width: 133px;
  height: 42px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 8px 18px 18px 8px #00000014;
  margin: 8px;
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  color: #00bfff;
}
.box p {
  margin: 19px 60px 0 0;
  font-size: 14px;
  color: #4f4f4f;
}
.test0 {
  color: #9c9c9c;
  font-size: 10px;
  margin-top: 20px;
}
.test0 span {
  color: #00bfff;
}
.bottun3 {
  border: 0.5px solid #74747452;
  margin-top: 40px;
}
.part1 {
  display: flex;
  padding: 35px 20px 0;
  text-align: center;
}
.num {
  font-size: 10px;
  color: #00bfff;
  font-family: kalameh-en-num;
  font-weight: 600;
}
.test10 {
  font-size: 10px;
  color: #9c9c9c;
  margin-top: 15px;
}
.part1-card1 {
  margin-left: 28px;
}
.part2 p {
  display: inline;
  font-size: 14px;
  color: #202020;
  font-family: kalameh-en-num;
}
.part2 div {
  margin-top: 20px;
}
