header {
  margin-top: 30px;
  height: 900px;
}
.flot {
  position: absolute;
  width: 692px;
  box-shadow: 8px 18px 18px 8px #00000014;
  background-color: #fff;
  top: 670px;
  left: 135px;
}
.flot h6 {
  font-size: 28px;
  color: #202020;
  padding: 30px 39px 0 0;
}
.flot p {
  font-size: 20px;
  color: #4f4f4f;
  text-align: justify;
  padding: 30px 39px 0;
  line-height: 24px;
}
.flot span {
  display: block;
  font-size: 20px;
  color: #4f4f4f;
  text-align: justify;
  padding: 0 39px 30px;
  line-height: 24px;
}
