.main {
  margin-top: 65px;
}
.card1 {
  padding-left: 30px;
}
.title-main {
  font-size: 28px;
  color: #202020;
  margin-bottom: 20px;
}
.test {
  font-size: 20px;
  text-align: justify;
  color: #4f4f4f;
  line-height: 24px;
  margin-bottom: 28px;
}
.card1 p,
.main2-card2 p {
  font-size: 20px;
  text-align: justify;
  color: #4f4f4f;
  line-height: 24px;
}
.mb {
  margin-bottom: 27px;
}
.main2-card2 {
  padding-right: 30px;
}
.main2 {
  margin-top: 75px;
}
