nav {
  background-color: #78c9e4;
  box-shadow: 12px 20px 20px 0 #0000002e;
}
.container {
  margin: auto;
  display: flex;
  width: 1199px;
  padding: 21px 0;
}
.logo {
  height: 42px;
}
.menu {
  margin-right: 100px;
  line-height: 42px;
}
.menu ul {
  display: flex;
}
.menu ul li a {
  margin-left: 32px;
  color: #202020;
  font-size: 16px;
  line-height: 22px;
}
.icons-login {
    margin-right: 123px;
}
.login {
  display: inline;
  border: 1.5px solid #202020;
  border-radius: 18px;
  padding: 7px 30px;
  font-size: 16px;
  vertical-align: 15px;
}
.icon-chat {
  margin: 0 8px;
}
.login img {
  vertical-align: -5px;
}
