.details-profile {
  width: 1200px;
  margin: 25px auto 40px;
  display: flex;
}
.right-card1 {
  width: 858px;
  height: 475px;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 8px 18px 18px 8px #00000014;
  padding: 25px;
}
.title-right-side {
  font-size: 18px;
  color: #202020;
  margin-top: 4px;
  display: inline-block;
  height: 24px;
  margin-bottom: 20px;
}
.img-title {
  height: 40px;
  float: left;
}
.inputs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 52px;
  justify-content: space-between;
}
.input {
  width: 398px;
  height: 51px;
  border-radius: 18px;
  padding: 14px 10px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  position: relative;
  font-size: 14px;
  color: #cccccc;

  margin-top: 40px;
}
.text-input {
  color: #202020;
  top: -10px;
  right: 10px;
  position: absolute;
  width: auto;
  height: 24px;
  background-color: #fff;
  text-align: center;
  padding: 0 7px;
}
.buttoms {
  display: flex;
  margin-bottom: 58px;
}
.text-buttom {
  font-size: 14px;
  color: #202020;
  margin-left: 67px;
  margin-top: 10px;
}
.buttom1 {
  width: 78px;
  height: 43px;
  border-radius: 8px;
  padding: 12px 14px 4px 0;
  background-color: #74747452;
  font-size: 14px;
  color: #202020;
  margin-left: 12px;
  
}
.buttom1 img {
  vertical-align: -8px;
  margin-right: 14px;
}
.buttom2 {
  width: 97px;
  height: 43px;
  border-radius: 8px;
  background-color: #74747452;
  padding: 10px 16px 0 0;
  margin-left: 15px;
  font-family: kalameh-en-num;
}
.buttom2 img {
  vertical-align: -8px;
  margin-right: 14px;
}
.img-buttom1 {
  margin-right: 0 !important;
  margin-left: 16px;
}
.img-buttom2 {
  margin-right: 0 !important;
  margin-left: 14px;
}
.m-r {
  margin-right: 96px;
}
.m-l {
  margin-left: 0 !important;
}
.bottun1 {
  width: 398px;
  height: 48px;
  border-radius: 18px;
  border: 1.5px solid #78c9e4;
  font-size: 14px;
  text-align: center;
  background-color: #78c9e4;
  color: #fcfcfc;
  padding-top: 12px;
  display: inline-block;
  margin-left: 8px;
}
.bottun2 {
  width: 398px;
  height: 48px;
  border-radius: 18px;
  font-size: 14px;
  padding-top: 12px;
  text-align: center;
  border: 1.5px solid #4f4f4f;
  color: #4f4f4f;
  display: inline-block;
}
.right-card2 {
  width: 858px;
  height: 408px;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 8px 18px 18px 8px #00000014;
  padding: 25px;
  margin-top: 25px;
}
.empty {
  width: 805px;
  height: 104px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  background-color: #fcfcfc;
  padding: 16px 13px 13px 13px;
  margin-top: 25px;
  margin-bottom: 30px;
}
.empty div {
  width: 780px;
  height: 77px;
  border-radius: 10px;
  border: 1.5px dashed #cccccc;
  text-align: center;
  padding-top: 10px;
}
.empty div p {
  font-size: 14px;
  color: #cccccc;
  margin-top: 5px;
}
.empty-text {
  text-align: center;
  font-size: 14px;
  color: #c60808;
  font-family: kalameh-regular;
  margin-bottom: 10px;
}
.test2 {
  margin-bottom: 30px !important;
}
.test3 {
  margin-bottom: 60px !important;
}
.right-card3 {
  width: 858px;
  height: 404px;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 8px 18px 18px 8px #00000014;
  padding: 25px;
  margin-top: 25px;
}
.right-card4 {
  width: 858px;
  height: 408px;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 8px 18px 18px 8px #00000014;
  padding: 25px;
  margin-top: 25px;
}
.empty-page{
width: 810px;
height: 166px;
border-radius: 18px;
border: 1px solid #CCCCCC;
margin: 20px 0 55px 0;
}
.right-card5 {
  width: 858px;
  height: 293px;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 8px 18px 18px 8px #00000014;
  padding: 25px;
  margin-top: 25px;
}
.input-maharat{
  width: 810px;
  height: 51px;
  border-radius: 18px;
  border: 1px solid #CCCCCC;
  padding: 16px 13px 13px 13px;
  font-size: 14px;
  color: #CCCCCC;
  margin: 25px 0 60px 0;
}
.input-maharat img{
  float: left;
  margin-top: 5px;
}
.right-card6 {
  width: 858px;
  height: 364px;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 8px 18px 18px 8px #00000014;
  padding: 25px;
  margin-top: 25px;
}
.input-tahsilat{
  width: 810px;
  height: 51px;
  border-radius: 18px;
  border: 1px solid #CCCCCC;
  padding: 16px 13px 13px 13px;
  font-size: 14px;
  color: #CCCCCC;
  margin: 25px 0 28px 0;
}
.buttom-edame {
  width: 161px;
  height: 43px;
  border-radius: 8px;
  background-color: #74747452;
  padding: 12px 16px 0 0;
  margin-right: 223px;
  font-family: kalameh-en-num;
  font-size: 14px;
  color: #202020;
}
.buttom-edame img{
  vertical-align:-7px;
  margin-left: 15px;
}
.right-card7 {
  width: 858px;
  height: 309px;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 8px 18px 18px 8px #00000014;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.input2 {
  width: 398px;
  height: 51px;
  border-radius: 18px;
  padding: 14px 10px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  position: relative;
  font-size: 14px;
  color: #202020;
  direction: ltr;
  margin-top: 40px;
}
.test4{
  margin-bottom: 30px !important;
}
.pg-test {
  float: left;
}
.left-side {
  width: 326px;
  height: 644px;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 8px 18px 18px 8px #00000014;
  margin-right: 15px;
  padding: 40px 23px;
}
.box {
  width: 280px;
  height: 58px;
  border-radius: 8px;
  background-color: #f5f5f5;
  display: flex;
}
.box div {
  width: 133px;
  height: 42px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 8px 18px 18px 8px #00000014;
  margin: 8px;
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  color: #00bfff;
}
.box p {
  margin: 19px 60px 0 0;
  font-size: 14px;
  color: #4f4f4f;
}
.test0 {
  color: #9c9c9c;
  font-size: 10px;
  margin-top: 20px;
}
.test0 span {
  color: #00bfff;
}
.bottun3 {
  border: 0.5px solid #74747452;
  margin-top: 40px;
}
.part1 {
  display: flex;
  padding: 35px 20px 0;
  text-align: center;
}
.num {
  font-size: 10px;
  color: #00bfff;
  font-family: kalameh-en-num;
  font-weight: 600;
}
.test10 {
  font-size: 10px;
  color: #9c9c9c;
  margin-top: 15px;
}
.part1-card1 {
  margin-left: 28px;
}
.part2 p {
  display: inline;
  font-size: 14px;
  color: #202020;
  font-family: kalameh-en-num;
}
.part2 div {
  margin-top: 20px;
}
