@font-face {
  font-family: kalameh;
  src: url(../../fonts/KalamehWeb-Medium.woff2);
  src: url(../../fonts/KalamehWebFaNum-Medium.woff2);
}
@font-face {
  font-family: kalameh-en-num;
  src: url(../../fonts/KalamehWeb-Medium.woff2);
  src: url(../../fonts/KalamehWebNoEn-Medium.woff2);
}
