header {
  background-image: url(../../img/top-view-construction-tools-concept-with-drill-sets-hammer-screwdriver-toolbox-black-wooden-background_160097-144.png);
  height: 929px;
  padding-top: 103px;
}
.order-box {
  width: 1130px;
  height: 581px;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 8px 18px 18px 8px #00000014;
  margin: 0 auto;
  padding: 59px 0 0 0;
  
}
.order-box .cards1,
.order-box .cards2 {
  display: flex;
  width: 963px;
  margin: 0 auto;
  margin-top: 18px;
}
.search {
  width: 963px;
  height: 58px;
  border: 1px solid #9c9c9c;
  border-radius: 8px;
  background-color: #f5f5f5;
  font-size: 14px;
  color: #9c9c9c;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 50px;
}
.search img {
  float: left;
}
.order-box .card1 {
  width: 228px;
  height: 169px;
  border-radius: 18px;
  box-shadow: 10px 0 40px 0 #0000001a;
  text-align: center;
}
.order-box .card2 {
  width: 228px;
  height: 169px;
  border-radius: 18px;
  box-shadow: 10px 0 40px 0 #0000001a;
  margin: 0 16px;
  text-align: center;
}
.order-box .card3 {
  width: 475px;
  height: 169px;
  border-radius: 18px;
  box-shadow: 10px 0 40px 0 #0000001a;
}
.order-box .card4 {
  width: 475px;
  height: 169px;
  border-radius: 18px;
  box-shadow: 10px 0 40px 0 #0000001a;
}
.order-box .card5 {
  width: 228px;
  height: 169px;
  border-radius: 18px;
  box-shadow: 10px 0 40px 0 #0000001a;
  margin: 0 16px;
  text-align: center;
}
.order-box .card6 {
  width: 228px;
  height: 169px;
  border-radius: 18px;
  box-shadow: 10px 0 40px 0 #0000001a;
  text-align: center;
}
.order-box .card1 img,
.order-box .card2 img,
.order-box .card5 img,
.order-box .card6 img {
  margin: 20px 82px 10px;
}
.order-box .card3 img {
  margin: 31px 40px 16px 30px;
}
.order-box .card4 img {
  margin: 23px 40px 8px 30px;
}
.text1 {
  color: #4f4f4f;
  font-size: 16px;
}
.text2 {
  color: #22a4d2;
  font-size: 12px;
  margin-top: 7px;
  font-family: kalameh-en-num;
}
.text3 {
  vertical-align: 35px;
  color: #4f4f4f;
  font-size: 16px;
  margin-left: 15px;
}
.text4 {
  color: #22a4d2;
  vertical-align: 35px;
  font-size: 12px;
  font-family: kalameh-en-num;
}
.order-box .card3 div,
.order-box .card4 div {
  border: 1.5px solid #78c9e4;
  border-radius: 50px;
  background-color: #78c9e424;
  color: #00bfff;
  font-size: 14px;
  padding: 8px;
  width: 439px;
  text-align: center;
  margin: 0 auto;
}
