.main2 {
    
    width: 1198px;
    height: 473px;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 8px 18px 18px 8px #00000014;
    margin: 230px auto 0;
    position: relative;
    
}
.main-text h6 {
    font-size: 32px;
    color: #202020;
    margin-bottom: 8px;
}
.main-text p {
    font-size: 16px;
    color: #4F4F4F;
    line-height: 22px;
    text-align: justify;
}
.main-text div {
    
    border: 1.5px solid #C60808;
    border-radius: 18px;
    text-align: center;
    background-color: #C60808;
    color: #fff;
    font-size: 16px;
    width: 223px;
    height: 40px;
    padding: 7px 0;
    margin-top: 68px;
}
.main2 img {
    position: absolute;
    top: -152px;
    right: 10px;
}
.main-text {
    width: 669px;
    padding-top: 139px;
    margin-left: 40px;
    float: left;
}