main {
  background-image: linear-gradient(
    to top,
    #78c9e44d,
    #fff,
    #78c9e44d,
    #fff,
    #78c9e44d
  );
  height: 100%;
  padding-top: 180px;
  padding-bottom: 70px;
}
.main-container {
  display: flex;
  width: 1198px;
  height: 473px;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 8px 18px 18px 8px #00000014;
  margin: auto;
  position: relative;
}
.welcome {
  width: 669px;
  padding-top: 116px;
  margin-right: 35px;
}
.main-container img {
  position: absolute;
  top: -125px;
  left: 16px;
}
.welcome h6{
    font-size: 32px;
    color: #202020;
    margin-bottom: 8px;
}
.welcome p{
    font-size: 16px;
    color: #4F4F4F;
    line-height: 22px;
    text-align: justify;
    
}
.welcome div{
    float: left;
    border: 1.5px solid #C60808;
    border-radius: 18px;
    text-align: center;
    background-color: #C60808;
    color: #fff;
    font-size: 16px;
    width: 223px;
    height: 40px;
    padding: 7px 0;
    margin-top: 68px;
}