.messages {
  width: 1199px;
  height: 561px;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 8px 18px 18px 8px #00000014;
  margin: 52px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.section_1 {
  height: 90px;
  width: 446px;
  padding: 16px;
  border-left: 1px solid #74747452;
  border-bottom: 1px solid #74747452;
  text-align: center;
}
.section_1 div {
  width: 414px;
  height: 58px;
  border-radius: 8px;
  border: 1px solid #9c9c9c;
  background-color: #f5f5f5;
  font-size: 14px;
  color: #9c9c9c;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.section_2 {
  height: 90px;
  flex: 700px;
  border-bottom: 1px solid #74747452;
}
.section_3 {
  border-left: 1px solid #74747452;
  width: 446px;
}
.manu_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 1px solid #74747452;
}
.card1 {
  display: flex;
  width: 85px;
  height: 55px;
  background-image: linear-gradient(#00bfff00, #00bfff24);
  flex-wrap: wrap;
  border-bottom: 2px solid #00bfff;
  align-items: center;
  color: #00bfff;
  font-size: 12px;
  padding: 7px;
  padding-top: 13px;
}
.card1 img,
.card2 img {
  margin-left: 12px;
}
.card2 {
  display: flex;
  font-size: 12px;
  color: #6f6f6f;
}
.users {
  padding: 39px 16px 41px 20px;
}
.user1 {
  display: flex;
  padding: 17px 0;
  border-bottom: 2px solid #74747452;
}
.body_user {
  display: flex;
  flex-wrap: wrap;
}
.user1 img {
  margin-left: 12px;
}
.body_user h6 {
  font-size: 14px;
  color: #202020;
  margin-left: 105px;
}
.date {
  font-size: 10px;
  color: #4f4f4f;
}
.status {
  font-size: 12px;
  color: #4f4f4f;
}
.section_4 {
  padding: 15px 21px;
  display: flex;
  align-items: flex-end;
}
.send_messages {
  width: 707px;
  height: 64px;
  border-radius: 8px;
  border: 1px solid #9c9c9c;
  background-color: #f5f5f5;
  font-size: 14px;
  color: #9c9c9c;
  display: flex;
  justify-content: space-between;
  padding: 12px 18px;
  align-items: center;
}
.send_messages div {
  width: 140px;
  height: 40px;
  border-radius: 18px;
  border: 1.5px solid #c60808;
  background-color: #c60808;
  text-align: center;
  padding-top: 8px;
  font-size: 14px;
  color: #ffffff;
}
