.side-bar{
    width: 1203px;
    margin: 50px auto;
    display: flex;
}
.right-side{
    width: 326px;
    height: 835px;
    border-radius: 18px;
    background-color: #FFFFFF;
    box-shadow: 8px 18px 18px 8px #00000014;
    padding: 40px 23px;
    margin-left: 18px;
}
.right-side h6{
    font-size: 14px;
    color: #202020;
}
.bottun1{
    width: 280px;
    height: 51px;
    border-radius: 18px;
    border: 1px solid #4F4F4F;
    background-color: #FCFCFC;
    font-size: 14px;
    color: #4F4F4F;
    padding: 16px 13px 13px 13px;
    margin-top: 12px;
}
.test1{
    font-size: 14px;
    color: #202020;
    margin-bottom: 12px;
    margin-top: 35px;
}
.br1{
    width: 280px;
    height: 2px;
    border-radius: 12px;
    opacity: 30%;
    background-color: #202020;
    margin-bottom: 25px;
}
.text-group p{
font-size: 14px;
color: #8A8A8A;
margin-top: 10px;
}
.text2{
    display: inline-block;
    font-size: 14px;
    color: #8A8A8A;
    margin-left: 9px;
}
.bottun2{
    width: 229px;
    height: 51px;
    border-radius: 18px;
    border: 1px solid #4F4F4F;
    background-color: #FCFCFC;
    padding: 16px 13px 13px 13px;
    font-size: 14px;
    color: #4F4F4F;
    display: inline-block;
    margin-bottom: 23px;
}
.left-side {
    display: flex;
    flex-wrap:wrap;
    align-content: flex-start;
  }
  .right-card1,.right-card2,.right-card3,.right-card4{
    width: 422px;
    height: 320px;
    border-radius: 18px;
    background-color: #fff;
    box-shadow: 8px 18px 18px 8px #00000014;
    margin-top: 25px;
    padding: 35px 25px;
  }
  .right-card1,.right-card3{
    margin-left: 14px;
  }
  .right-card1 h6,.right-card2 h6,.right-card3 h6,.right-card4 h6{
    font-size: 18px;
    color: #202020;
  }
  .title{
    font-size: 18px;
    color: #202020;
    margin-bottom: 25px;
  }
  .time{
    font-size: 12px;
    color: #00BFFF;
    margin-top: 20px;
  }
  .tozih{
    font-size: 16px;
    color: #4F4F4F;
    margin-top: 20px;
  }
  .test{
    font-size: 16px;
    color: #4F4F4F;
    line-height: 28px;
    text-align: justify;
  }
  .right-card1 div,.right-card2 div,.right-card3 div,.right-card4 div{
    width: 178px;
    height: 40px;
    border-radius: 18px;
    border:1.5px solid #C60808;
    text-align: center;
    background-color: #C60808;
    font-size: 14px;
    color: #fff;
    padding-top: 6px;
    margin-top: 15px;
  }
  .pg-test {
    float: left;
  }
  .text3{
    font-size: 18px;
    color: #202020;
    margin-top: 10px;
  }
  .agahi{
    font-size: 18px;
    color: #202020;
    margin-left: 329px;
    margin-top: 10px;
    font-family: kalameh-en-num;
  }
  .bottun4{
    width: 181px;
    height: 46px;
    border-radius: 18px;
    border: 1px solid #4F4F4F;
    background-color: #FCFCFC;
    padding: 12px;
    margin-right: 18px;
  }
