.main{
    width: 1200px;
    margin: 32px auto 90px;
}
.titles{
    display: flex;
    align-items: center;
}
.titles p{
    font-size: 14px;
    color: #202020;
}
.titles div{
    width: 124px;
    height: 45px;
    border-radius: 8px;
    padding-top: 13px;
    background-color: #74747452;
    font-size: 14px;
    color: #202020;
    text-align: center;
    margin-left: 876px;
    margin-right: 58px;
    font-family: kalameh-en-num;
}
.Memberships{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}
.card1{
    width: 292px;
    height: 283px;
    border-radius: 18px;
    box-shadow: 8px 18px 18px 8px #00000014;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    padding: 28px 12px;
    align-content: flex-start;
}
.card1 h6{
    font-size: 32px;
    color: #202020;
}
.card1 p{
    font-size: 14px;
    color: #202020;
    margin-right: 10px;
    margin-top: 15px;
}
.free{
    font-size: 14px !important;
    color: #007E46 !important;
    margin: 0 !important;
}
.card-body1{
    width: 268px;
    height: 132px;
    border-radius: 18px;
    padding: 22px 22px 18px 22px;
    background-color: #B7FFDF;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: space-between;
}
.card-body2{
    width: 268px;
    height: 132px;
    border-radius: 18px;
    padding: 22px 22px 18px 22px;
    background-color: #E0B48C;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: space-between;
}
.card-body3{
    width: 268px;
    height: 132px;
    border-radius: 18px;
    padding: 22px 22px 18px 22px;
    background-color: #E5E5E5;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: space-between;
}
.card-body4{
    width: 268px;
    height: 132px;
    border-radius: 18px;
    padding: 22px 22px 18px 22px;
    background-color: #FFE03F;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: space-between;
}
.card-body1 h6,.card-body2 h6,.card-body3 h6,.card-body4 h6{
    font-size: 14px;
    color: #4F4F4F;
    font-family: kalameh-en-num;
}
.card-body1 p,.card-body2 p,.card-body3 p,.card-body4 p{
    color: #4F4F4F;
    margin: 0;
}
.card-body1 div,.card-body2 div,.card-body3 div,.card-body4 div{
    width: 224px;
    height: 40px;
    border-radius: 18px;
    border: 1.5px solid #4F4F4F;
    text-align: center;
    padding-top: 7px;
    color: #4F4F4F;
    margin-top: 28px;
}
.bronze{
    font-size: 14px !important;
    color: #E0B48C !important;
    margin: 0 !important;
}
.silver{
    font-size: 14px !important;
    color: #CCCCCC !important;
    margin: 0 !important;
}
.gold{
    font-size: 14px !important;
    color: #FFE03F !important;
    margin: 0 !important;
}