.details-profile {
  width: 1200px;
  margin: 25px auto 40px;
  display: flex;
}
.right-side {

  display: flex;
  flex-wrap:wrap;
}
.right-card1,.right-card2,.right-card3,.right-card4{
  width: 422px;
  height: 320px;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 8px 18px 18px 8px #00000014;
  margin-bottom: 25px;
  padding: 35px 25px;
}
.right-card1,.right-card3{
  margin-left: 14px;
}
.right-card1 h6,.right-card2 h6,.right-card3 h6,.right-card4 h6{
  font-size: 18px;
  color: #202020;
}
.title{
  font-size: 18px;
  color: #202020;
  margin-bottom: 25px;
}
.time{
  font-size: 12px;
  color: #00BFFF;
  margin-top: 20px;
}
.tozih{
  font-size: 16px;
  color: #4F4F4F;
  margin-top: 20px;
}
.test{
  font-size: 16px;
  color: #4F4F4F;
  line-height: 28px;
}
.right-card1 div,.right-card2 div,.right-card3 div,.right-card4 div{
  width: 178px;
  height: 40px;
  border-radius: 18px;
  border:1.5px solid #C60808;
  text-align: center;
  background-color: #C60808;
  font-size: 14px;
  color: #fff;
  padding-top: 6px;
  margin-top: 15px;
}
.pg-test {
  float: left;
}
.left-side {
  width: 326px;
  height: 644px;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 8px 18px 18px 8px #00000014;
  margin-right: 15px;
  padding: 40px 23px;
}
.box {
  width: 280px;
  height: 58px;
  border-radius: 8px;
  background-color: #f5f5f5;
  display: flex;
}
.box div {
  width: 133px;
  height: 42px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 8px 18px 18px 8px #00000014;
  margin: 8px;
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  color: #00bfff;
}
.box p {
  margin: 19px 60px 0 0;
  font-size: 14px;
  color: #4f4f4f;
}
.test0 {
  color: #9c9c9c;
  font-size: 10px;
  margin-top: 20px;
}
.test0 span {
  color: #00bfff;
}
.bottun3 {
  border: 0.5px solid #74747452;
  margin-top: 40px;
}
.part1 {
  display: flex;
  padding: 35px 20px 0;
  text-align: center;
}
.num {
  font-size: 10px;
  color: #00bfff;
  font-family: kalameh-en-num;
  font-weight: 600;
}
.test10 {
  font-size: 10px;
  color: #9c9c9c;
  margin-top: 15px;
}
.part1-card1 {
  margin-left: 28px;
}
.part2 p {
  display: inline;
  font-size: 14px;
  color: #202020;
  font-family: kalameh-en-num;
}
.part2 div {
  margin-top: 20px;
}
