.container-nazarat {
  width: 858px;
  height: 266px;
  border-radius: 18px;
  background-color: #ffffff;
  box-shadow: 8px 18px 18px 8px #00000014;
  padding: 35px 20px;
  margin-bottom: 80px;
}
.nazarat-card1,
.nazarat-card2 {
  display: flex;
  flex-wrap: wrap;
}
.teest1 {
  font-size: 18px;
  color: #202020;
  margin: 10px 22px 0 0;
}
.teest2 {
  font-size: 16px;
  color: #202020;
  margin-top: 10px;
}
.teest3 {
  font-size: 10px;
  color: #9c9c9c;
  margin: 18px 10px 0 204px;
}
.teest4 {
  font-size: 12px;
  color: #00bfff;
  margin: 12px 15px 0 0;
}
.teest5 {
  font-size: 14px;
  color: #9c9c9c;
  margin: 0 70px 0 28px;
}
.teest6 {
  font-size: 10px;
  color: #0b8659;
  margin-top: 5px;
  margin-bottom: 35px;
}
.br2 {
  border: 1px solid #74747452;
  width: 822px;
  margin-bottom: 20px;
}
