
.head-profile {
    width: 1200px;
  margin: 50px auto 0;
  height: 291px;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 8px 18px 18px 8px #00000014;
}
.test1 {
  margin-right: 50px;
  margin-bottom: 20px;
  position: relative;
}
ul {
  margin-right: 50px;
}
.card-header {
  border-radius: 18px 18px 0 0;
}
.profile-icon {
  position: absolute;
  top: -45px;
}
.test1 h2 {
  font-size: 24px;
  color: #202020;
  margin-right: 120px;
  margin-left: 20px;
  display: inline;
}
.test1 span {
  font-size: 16px;
  color: #00bfff;
  margin: 8px 10px 0 30px;
}
.share {
  float: left;
  margin-left: 50px;
  margin-top: 10px;
}
.ul{
    height: 108px;
    margin-right: 120px;
   
}
.ul p  {
  color: #202020;
  margin-left: 62px;
  font-weight: 600;
  display: inline-block;
  padding-top: 50px;
 
}

.select a {
  
  width: 140px;
  margin-left: 0;
}
.select {
  text-align: center;
  height: 108px;
  width: auto;
  border-bottom: 2px solid #00BFFF;
  background-image: linear-gradient(to top, #00BFFF24, #00BFFF00);
  padding: 0 13px;
}
