@import url(font.css);
@import url(log-in.css);
* {
  font-family: kalameh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: kalameh !important;
}
