.main-container {
  margin: auto;
  margin-bottom: 75px;
  width: 1199px;
  padding: 21px 0;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
}
.title {
  display: inline;
  font-size: 24px;
  color: #202020;
}
.icons {
  display: inline;
  float: left;
}
.Vector {
  vertical-align: 6px;
}
.main-card2 {
  margin-right: 79px;
}
.main-card3{
    margin-top: 30px;
}
.main-card4 {
  margin-right: 79px;
  margin-top: 30px;
}
.cards h5{
    font-size: 24px;
    color: #202020;
    margin-bottom: 20px;
}
.cards p{
    display: inline;
    font-size: 20px;
    color: #4F4F4F;
    float: left;
}