.sngle_blog{
    width: 1202px;
    margin: 52px auto;
    padding: 42px 0;
}
.title_sngle_blog{
    font-size: 32px;
    color: #4F4F4F;
    margin-top: 34px;
}
.sides{
    display: flex;
    margin-top: 64px;
}
.right_side{
    margin-left: 33px;
}
.right_side h6{
font-size: 20px;
color: #4F4F4F;
line-height: 24px;
margin-top: 5px;
}
.right_side img{
margin: 30px 0 23px;
}
.right_side p{
font-size: 20px;
color: #4F4F4F;
margin-bottom: 25px;
text-align: justify;
line-height: 24px;
}
.left_card1{
    width: 320px;
    height: 339px;
    border-radius: 8px;
    border: 0.5px solid #EAEAEA;
    box-shadow:0px 20px 20px -8px #0000000D;
    text-align: center;
    padding: 25px;
}
.left_card1 img{
margin-bottom: 3px;
}
.left_card1 p{
    color: #2B2B2B;
}
.date{
    width: 223px;
    height: 40px;
    border-radius: 18px;
    border: 1.5px solid #C60808;
    background-color: #C60808;
    padding-top: 8px;
    color: #FFFFFF;
    margin: 10px auto;
}
.left_card1 h6{
    font-size: 16px;
    color: #202020;
    margin: 30px 0 5px;
}
.icons img{
    margin-right: 2px;
}
.part2{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
.left_card2{
    width: 320px;
    height: 373px;
    border-radius: 8px;
    border: 0.5px solid #EAEAEA;
    box-shadow:0px 20px 25px 9px #0000000D;
    margin-top: 14px;
    padding: 28px 40px;
}
.left_card2 h6{
font-size: 16px;
color: #4F4F4F;
margin-bottom: 26px;
}
.left_card2 h5{
    font-size: 14px;
    color: #4F4F4F;
    width: 167px;
    margin-right: 14px;
    line-height: 22px;
}
.br2{
    width: 100%;
    height: 6px;
    border-radius: 12px;
    opacity: 30%;
    background-color: #4F4F4F;
margin: 25px 0;
}