.side-bar{
    width: 1203px;
    margin: 50px auto 60px;
    display: flex;
}

.left-side {
    display: flex;
    flex-wrap:wrap;
    align-content: flex-start;
    justify-content: space-between;
  }
  .right-card1,.right-card2,.right-card3,.right-card4{
    width: 389px;
    height: 320px;
    border-radius: 18px;
    background-color: #fff;
    box-shadow: 8px 18px 18px 8px #00000014;
    margin-top: 25px;
    padding: 35px 29px;
    
  }

  .right-card1 h6,.right-card2 h6,.right-card3 h6,.right-card4 h6{
    font-size: 16px;
    color: #202020;
  }
  .title{
    font-size: 18px;
    color: #202020;
    margin-bottom: 25px;
  }
  .time{
    font-size: 12px;
    color: #00BFFF;
    margin-top: 20px;
  }
  .tozih{
    font-size: 16px;
    color: #4F4F4F;
    margin-top: 20px;
  }
  .test{
    font-size: 14px;
    color: #4F4F4F;
    line-height: 28px;
    text-align: justify;
  }
  .right-card1 div,.right-card2 div,.right-card3 div,.right-card4 div{
    width: 178px;
    height: 40px;
    border-radius: 18px;
    border:1.5px solid #C60808;
    text-align: center;
    background-color: #C60808;
    font-size: 14px;
    color: #fff;
    padding-top: 6px;
    margin-top: 15px;
  }
  .pg-test {
    float: left;
  }
  .text3{
    font-size: 18px;
    color: #202020;
    margin-top: 10px;
  }
  .agahi{
    font-size: 18px;
    color: #202020;
    margin-left: 650px;
    margin-top: 10px;
    font-family: kalameh-en-num;
  }
  .bottun4{
    width: 181px;
    height: 46px;
    border-radius: 18px;
    border: 1px solid #4F4F4F;
    background-color: #FCFCFC;
    padding: 12px;
    margin-right: 18px;
  }
