.details-profile {
  width: 1200px;
  margin: 25px auto 40px;
  display: flex;
}
.right-side {
  width: 859px;
  height: 1024px;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 8px 18px 18px 8px #00000014;
  padding: 35px 20px;
}
.right-side h6 {
  font-size: 20px;
  color: #202020;
  border-bottom: 2px solid #74747452;
  padding-bottom: 10px;
  margin-bottom: 32px;
}
.card-side1,
.card-side2,
.card-side3,
.card-side4 {
  width: 822px;
  height: 201px;
  border-radius: 18px;
  padding: 28px 14px 28px 14px;
  background-color: #00bfff1f;
  margin-bottom: 18px;
}
.card-side1 p,
.card-side2 p,
.card-side3 p,
.card-side4 p {
  display: inline;
  font-weight: 900;
  font-size: 14px;
}
.pg-test {
  float: left;
}
.card-side1 div,
.card-side2 div,
.card-side3 div,
.card-side4 div {
  margin-bottom: 7px;
}
.bottun {
  border: 1px solid #74747452;
  margin-top: 26px;
}
.left-side {
  width: 326px;
  height: 644px;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 8px 18px 18px 8px #00000014;
  margin-right: 15px;
  padding: 40px 23px;
}
.box {
  width: 280px;
  height: 58px;
  border-radius: 8px;
  background-color: #f5f5f5;
  display: flex;
}
.box div {
  width: 133px;
  height: 42px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 8px 18px 18px 8px #00000014;
  margin: 8px;
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  color: #00bfff;
}
.box p {
  margin: 19px 60px 0 0;
  font-size: 14px;
  color: #4f4f4f;
}
.test0 {
  color: #9c9c9c;
  font-size: 10px;
  margin-top: 20px;
}
.test0 span {
  color: #00bfff;
}
.bottun3 {
  border: 0.5px solid #74747452;
  margin-top: 40px;
}
.part1 {
  display: flex;
  padding: 35px 20px 0;
  text-align: center;
}
.num {
  font-size: 10px;
  color: #00bfff;
  font-family: kalameh-en-num;
  font-weight: 600;
}
.test10 {
  font-size: 10px;
  color: #9c9c9c;
  margin-top: 15px;
}
.part1-card1 {
  margin-left: 28px;
}
.part2 p {
  display: inline;
  font-size: 14px;
  color: #202020;
  font-family: kalameh-en-num;
}
.part2 div {
  margin-top: 20px;
}
