.main2{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 1202px;
    margin: 0 auto;
}
.br1{
    width: 100%;
    height: 4px;
    border-radius: 12px;
    opacity: 30%;
    background-color: #00A811;
    margin-top: 14px;
}
.br2{
    width: 100%;
    height: 4px;
    border-radius: 12px;
    opacity: 30%;
    background-color: #C60808;
    margin-top: 14px;
}
.text-green{
    font-size: 20px;
    color: #00A81185;
    margin-right: 18px;
}
.text-red2{
    font-size: 20px;
    color: #C6080885;
    margin-top: 28px;
    margin-right: 18px;
}
.test1{
    margin-top: 28px;
}
.buttom1{
    width: 100%;
    height: 148px;
    border-radius: 18px;
    border: 1px solid #CCCCCC;
    background-color: #fff;
    padding: 16px 13px 13px 13px;
    font-size: 14px;
    color: #CCCCCC;
    margin-top: 100px;
    position: relative;
}
.buttom1 p{
    position: absolute;
    top: -14px;
    right: 7px;
    font-size: 14px;
    color: #2B2B2B;
    width: auto;
    background-color: #FCFCFC;
    padding: 4px 6px;
}
.buttom2{
    width: 336px;
    height: 51px;
    border-radius: 18px;
    border: 1px solid #CCCCCC;
    padding: 16px 13px 13px 13px;
    background-color: #FFFFFF;
    position: relative;
    font-size: 14px;
    color: #CCCCCC;
    margin-top: 25px;
    margin-left: 40px;
}
.buttom2 p{
    width: auto;
    background-color: #fff;
    padding: 4px 6px;
    position: absolute;
    color: #202020;
    top: -13px;
    right: 9px;
}
.buttom3{
    width: 449px;
    height: 48px;
    border-radius: 18px;
    border: 1.5px solid #78C9E4;
    background-color: #78C9E4;
    text-align: center;
    padding-top: 12px;
    font-size: 14px;
    color: #FCFCFC;
    margin-top: 25px;
}