.main{
    width: 1202px;
    height: 512px;
    border-radius: 18px;
    background-color: #FFFFFF;
    box-shadow: 8px 18px 18px 8px #00000014;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 29px 33px;
}
.text-red{
font-size: 16px;
color: #C60808;
}
.text-bluelight{
    font-size: 16px;
    color: #00BFFF;
    margin-right: 537px;
}
.title{
    font-size: 24px;
    color: #202020;
    margin: 25px 0 25px 431px;
}
.share{
    width: 169px;
    height: 40px;
    border-radius: 18px;
    border:1.5px solid #00BFFF;
    padding: 8px  14px;
    text-align: center;
    font-size: 16px;
    color: #00BFFF;
    margin-right: 20px;
    margin-top: 23px;
}
.share img{
    vertical-align: -5px;
    margin-left: 8px;
}
.text1{
    font-size: 16px;
    color: #4F4F4F;
}
.name{
    font-size: 16px;
    color: #4F4F4F;
    margin: 0 14px;
}
.green-text{
    font-size: 16px;
    color: #00B400;
    margin-right: 14px;
}
.tozihat{
  margin: 40px 0;
    font-size: 16px;
    color: #4F4F4F;
}
.section{
    width: 1135px;
    height: 111px;
    border-radius: 18px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.section h6{
    font-size: 16px;
    margin-right: 40px;
}
.section div{
    width: 223px;
    height: 40px;
    border-radius: 18px;
    border: 1.5px solid #C60808;
    background-color: #C60808;
    text-align: center;
    padding: 8px;
    color: #FFFFFF;
    margin-right: 250px;
}
