.question{
  margin: 100px 0 60px 0;
}
.question-container {
  margin: 0 auto;
  width: 1200px;
}
.question1 {
  border: 1px solid #202020;
  border-radius: 18px;
  padding: 22px 13px;
  color: #4f4f4f;
  font-size: 14px;
  margin-bottom: 14px;
  background-color: #fff;
}
.question1 img {
  float: left;
}
.question h6{
  font-size: 24px;
  color: #202020;
  margin-bottom: 36px;
}