.details-profile {
  width: 1200px;
  margin: 25px auto 90px;
  display: flex;
}
.title {
  font-size: 18px;
  color: #202020;
  margin-bottom: 25px;
}
.right_side{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.right_card1{
  width: 424px;
  height: 121px;
  border-radius: 18px;
  box-shadow: 8px 18px 18px 8px #00000014;
  background-color: #FFFFFF;
  margin-bottom: 18px;
  padding: 24px 25px;
}
.right_card1 h6{
  color: #202020;
  font-size: 18px;
}
.right_card1 p{
  color: #00BFFF;
  font-size: 12px;
  margin-top: 12px;
}
.icons{
  float: left;

}
.pg-test {
  float: left;
}
.left_card1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 326px;
  height: 185px;
  border-radius: 18px;
  box-shadow: 8px 18px 18px 8px #00000014;
  background-color: #ffffff;
  padding: 16px 23px;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 14px;
}
.suggestions {
  width: 124px;
  height: 45px;
  border-radius: 8px;
  padding: 13px 17px 6px 14px;
  background-color: #74747452;
  font-size: 14px;
  color: #202020;
}
.bottun4 {
  width: 280px;
  border: 0.5px solid #74747452;
  height: 0px;
}
.red_card {
  width: 280px;
  height: 62px;
  border-radius: 8px;
  padding: 18px;
  background-color: #ff4757;
  font-size: 14px;
  color: #FFFFFF;
  margin-top: 5px;
}
.red_card img{
vertical-align: -7px;
margin-left: 4px;

}
.left_card2 {
  width: 326px;
  height: 644px;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 8px 18px 18px 8px #00000014;
  margin-right: 15px;
  padding: 40px 23px;
}
.box {
  width: 280px;
  height: 58px;
  border-radius: 8px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
}
.box div {
  width: 133px;
  height: 42px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 8px 18px 18px 8px #00000014;
  margin: 8px;
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  color: #4f4f4f;
}
.box p {
  margin: 19px 40px 0px 0;
  font-size: 14px;
  color: #00bfff;
}
.test0 {
  color: #9c9c9c;
  font-size: 10px;
  margin-top: 20px;
}
.test0 span {
  color: #00bfff;
}
.bottun3 {
  border: 0.5px solid #74747452;
  margin-top: 40px;
}
.part1 {
  display: flex;
  padding: 35px 20px 0;
  text-align: center;
}
.num {
  font-size: 10px;
  color: #00bfff;
  font-family: kalameh-en-num;
  font-weight: 600;
}
.test10 {
  font-size: 10px;
  color: #9c9c9c;
  margin-top: 15px;
}
.part1-card1 {
  margin-left: 28px;
}
.part2 p {
  display: inline;
  font-size: 14px;
  color: #202020;
  font-family: kalameh-en-num;
}
.part2 div {
  margin-top: 20px;
}
