body {
  background-color: #cfcfcf;
}
.sign-up {
  width: 436px;
  height: 703px;
  margin: 0 auto 70px;
  background-color: #ffffff;
  padding: 28px 50px;
}
.test3 {
  margin: 72px 8px 0 0;
  display: inline-block;
  color: #202020;
}
.test2 {
  margin-right: 100px;
  vertical-align: -6px;
  margin-top: 72px;
}
.sign-up h6 {
  font-size: 18px;
  color: #202020;
  margin-bottom: 28px;
}
.bottun1 {
  width: 336px;
  height: 51px;
  border: 1px solid #cccccc;
  padding: 16px 13px 13px 13px;
  font-size: 14px;
  color: #cccccc;
  position: relative;
  border-radius: 18px;
  margin-bottom: 30px;
}
.bottun1 p,
.bottun2 p {
  position: absolute;
  top: -14px;
  right: 8px;
  color: #202020;
  width: auto;
  background-color: #fff;
  padding: 4px 6px 4px 6px;
}
.bottun2 {
  width: 336px;
  height: 51px;
  border: 1px solid #cccccc;
  padding: 13px 13px 13px 13px;
  font-size: 14px;
  position: relative;
  border-radius: 18px;
  margin-bottom: 12px;
}
.bottun2 div {
  width: 85px;
  height: 24px;
  border-radius: 18px;
  border: 1.5px solid #78c9e4;
  background-color: #78c9e4;
  color: #FCFCFC;
  font-size: 14px;
  text-align: center;
  float: left;
  font-weight: 400;
}
.test4{
    font-size: 14px;
    color: #2B2B2B;
    margin-left: 69px;
}
.test5{
    font-size: 14px;
    color: #78C9E4;
}
.test6{
    margin-left: 5px;
    vertical-align: -10px;
    
}
.test7{
    font-size: 13px;
    color: #2B2B2B;
    margin-top: 50px;
    display: inline-block;
}
.test8{
    margin-right: 28px !important;
}
.test9{
    margin-top: 20px;
    display: inline-block;
    font-size: 14px;
    color: #78C9E4;
}
.test9 span{
    color: #202020;
}
.sabt{
    width: 336px;
    height: 48px;
    border-radius: 18px;
    border: 1.5px solid #78C9E4;
    background-color: #78C9E4;
    color: #FCFCFC;
    font-size: 14px;
    text-align: center;
    padding-top: 12px;
    margin-top: 24px;
}
.bottun3{
    width: 336px;
    border: 1.5px solid #74747452;
    margin-top: 25px;
}
.test10{
    font-size: 14px;
    color: #202020;
    margin-top: 35px;
    text-align: center;
}
.test11{
    width: 336px;
    height: 38px;
    border-radius: 18px;
    border: 1px solid #FFD100;
    background-color: #FFDA34;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    padding: 8px;
    margin-top: 15px;
}
.test11 img{
    vertical-align: -4px;
    margin-right: 8px;
}