.head {
  margin-top: 30px;
}
.header-card-right h5 {
  font-size: 30px;
  color: #202020;
  margin-top: 15px;
}
.details {
  margin-top: 20px;
}
.new {
  display: inline-block;
  background-color: #202020;
  border-radius: 10px;
  padding-top: 10px;
  font-size: 14px;
  color: #fff;
  width: 168px;
  text-align: center;
  height: 42px;
}
.header-card-right p {
  display: inline;
}
.time {
  color: #78c9e4;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 72px;
}
.date {
  color: #4f4f4f;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 20px;
}
.card1,
.card2,
.card3 {
  display: flex;
  margin: 0px 20px 38px 0;
}
.card1 h4,
.card2 h4,
.card3 h4 {
  font-size: 18px;
  color: #202020;
  text-align: justify;
  margin-bottom: 10px;
  line-height: 22px;
}
.text {
  font-size: 18px;
  color: #4f4f4f;
  text-align: justify;
  line-height: 22px;
}
.card-body1 .text {
  margin-bottom: 116px;
}
.card-body2 .text {
  margin-bottom: 109px;
}
.card-body3 .text {
  margin-bottom: 108px;
}
.card-body1,
.card-body2,
.card-body3 {
  margin-right: 15px;
}
.date2 {
  font-size: 14px;
  color: #4f4f4f;
  display: inline;
  vertical-align: 10px;
  margin-right: 64px;
}
